* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.9),
      rgba(41, 57, 57, 0.4)
    ),
    url(images/furniture-logo.png);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
header nav {
  position: absolute;
  right: 40px;
  top: 30px;
}

nav li {
  list-style: none;
  display: inline-block;
}

nav li a {
  color: white;
  text-decoration: none;
  margin: 10px 18px;
  padding: 0px 5px;
}
nav li a:hover {
  border-bottom: 3px solid crimson;
  transition: 0.4s;
}

header h1 {
  position: absolute;
  font-family: "Courgette", cursive;
  font-size: 80px;
  top: 80px;
  left: 60px;
  color: rgb(255, 217, 0);
}

header h2 {
  position: absolute;
  color: chocolate;
  top: 180px;
  left: 60px;
}
header h2:hover {
  color: rgb(62, 244, 6);
  transition: 0.5s;
}

.furniture {
  height: 100vh;
  width: 100%;
  position: relative;
}

.furniture h1 {
  font-family: "Courgette", cursive;
  font-size: 50px;
  text-align: center;
  margin-top: 15px;
  color: rgb(9, 255, 0);
}

.furniture .ferniture-item .furniture-1 {
  height: 250px;
  width: 250px;
  position: absolute;
  top: 50px;
  left: 350px;
}
.furniture-1-desc {
  position: absolute;
  top: 265px;
  left: 440px;
  color: rgb(103, 3, 103);
}
.furniture-1-desc:hover {
  font-size: 30px;
  color: rgb(250, 1, 1);
  transition: 0.3s;
}

.furniture .ferniture-item .furniture-2 {
  height: 250px;
  width: 250px;
  position: absolute;
  top: 180px;
  left: 160px;
}
.furniture-2-desc {
  position: absolute;
  top: 350px;
  left: 204px;
  color: rgb(244, 8, 102);
}
.furniture-2-desc:hover {
  font-size: 25px;
  color: rgb(1, 55, 250);
  transition: 0.3s;
}

.furniture .ferniture-item .furniture-3 {
  height: 250px;
  width: 250px;
  position: absolute;
  top: 360px;
  left: 280px;
}
.furniture-3-desc {
  position: absolute;
  top: 615px;
  left: 370px;
  color: rgb(3, 78, 78);
}
.furniture-3-desc:hover {
  font-size: 30px;
  color: rgb(61, 195, 4);
  transition: 0.3s;
}

.furniture .ferniture-item .furniture-4 {
  height: 250px;
  width: 250px;
  position: absolute;
  top: 70px;
  right: 310px;
}
.furniture-4-desc {
  position: absolute;
  top: 555px;
  left: 630px;
  color: rgb(5, 5, 5);
}
.furniture-4-desc:hover {
  font-size: 30px;
  color: rgb(7, 147, 129);
  transition: 0.3s;
}

.furniture .ferniture-item .furniture-5 {
  height: 250px;
  width: 250px;
  position: absolute;
  top: 300px;
  right: 540px;
}
.furniture-5-desc {
  position: absolute;
  top: 290px;
  right: 410px;
  color: rgb(10, 21, 233);
}
.furniture-5-desc:hover {
  font-size: 30px;
  color: rgb(117, 119, 18);
  transition: 0.3s;
}

.furniture .ferniture-item .furniture-6 {
  height: 180px;
  width: 250px;
  position: absolute;
  top: 400px;
  right: 180px;
}
.furniture-6-desc {
  position: absolute;
  top: 600px;
  right: 270px;
  color: rgb(5, 167, 8);
}
.furniture-6-desc:hover {
  font-size: 30px;
  color: rgb(4, 17, 136);
  transition: 0.3s;
}
/* set item start */
.set-item1 {
  margin-top: 50px;
}

.set-item1 .set-item-tittle {
  text-align: center;
  font-size: 40px;
  border-bottom: 5px dotted red;
  width: 550px;
  margin: 0 auto;
  font-family: "Courgette", cursive;
  color: rgb(4, 193, 214);
}

.furniture-set1 {
  display: flex;
  position: relative;
  margin: 40px;
}

.furniture-set1-img {
  width: 700px;
  height: 500px;
}
.img-code {
  position: absolute;
  top: 20px;
  left: 20px;
}
.img-code:hover {
  color: rgb(0, 30, 255);
  font-size: 20px;
  transition: 0.5s;
}

.furniture-set1-desc {
  margin-left: 40px;
}

.furniture-set1-desc-tittle {
  font-family: "Albert Sans", sans-serif;
  font-size: 27px;
  opacity: 0.7;
}
.furniture-set1-desc-tk {
  color: rgb(238, 5, 5);
  margin: 13px 0;
}
.furniture-set1-desc .availability {
  margin-top: 14px;
  margin-bottom: 35px;
}
.furniture-set1-desc .availability span {
  color: crimson;
  font-weight: bold;
}
.furniture-set1-desc .febric {
  margin-bottom: 25px;
}
.furniture-set1-desc .radio-color input {
  margin: 15px 0;
}
.furniture-set1-desc .radio-color .bg-red {
  padding: 0 30px;
  margin: 0 5px;
  background-color: red;
  display: inline;
}
.furniture-set1-desc .radio-color .bg-green {
  padding: 0 30px;
  margin: 0 5px;
  background-color: green;
  display: inline;
}
.furniture-set1-desc .delivery {
  margin: 25px 0;
  opacity: 0.8;
}
